:root {
  --color-purple: #9427be;
  --color-pink: #ff0048;
  --color-gray: #acacac;
  --color-light-gray: rgb(216, 216, 216);
  --color-dark-gray: #434859;
  --color-light: rgb(238, 245, 252);
  --color-white: #fff;
  --color-black: #181818;
  --color-turquoise: #11f7eb;
}

:root {
  --panel-bg-color: #434859;
  --text-color: #ffffff;
  --btn-color: #ffffff;
  --btn-text: #181818;
}

:root[theme=light] {
  --panel-bg-color: #ffffff;
  --text-color: #181818;
  --btn-color: #434859;
  --btn-text: #ffffff;
}

.btn-toggle {
  color: var(--btn-text);
  background: var(--btn-color);
  padding: 0.3rem;
  margin: 0.2rem;
  font-size: 1rem;
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  color: var(--color-black);
  font-size: 18px;
  overflow-x: hidden;
}

.padding {
  padding: 20px;
}

.padding-container {
  padding: 80px 80px;
}

.flex {
  display: flex;
}

a.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-turquoise);
  color: var(--color-white);
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}

a.btn-link:hover {
  background-color: var(--color-pink);
}

a.a-link {
  color: var(--color-turquoise);
  font-weight: 700;
}

.a-link:hover {
  color: var(--color-pink);
}

.dark-section {
  background-color: var(--panel-bg-color);
  color: var(--color-white);
}

.title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
}

.header {
  color: var(--text-color);
}
.header .container {
  align-items: center;
}
.header .nav ul {
  gap: 20px;
}
.header li:hover {
  color: var(--color-turquoise);
}
.header .modal-btn {
  margin-left: 20px;
  padding: 5px 10px;
  color: var(--color-white);
  background-color: var(--color-purple);
  border: 1px solid var(--color-white);
}
.header .modal-btn:hover {
  background-color: var(--color-pink);
}
.header li:hover {
  color: var(--color-gray);
}

.main-page {
  background-image: url(../img/main-background.jpg);
  background-size: cover;
  height: 600px;
}
.main-page img {
  margin-top: 30px;
}
.main-page__main-title {
  margin-bottom: 35px;
  font-size: 54px;
  font-weight: 700;
  max-width: 600px;
}

.company-desc {
  padding: 80px;
  color: var(--text-color);
}
.company-desc__desc {
  margin-bottom: 20px;
  max-width: 550px;
}
.company-desc__title {
  font-size: 24px;
  font-weight: 700;
}
.company-desc img {
  max-width: 80%;
}

.masters {
  text-align: center;
}
.masters__items {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.masters__desc {
  margin-bottom: 25px;
}
.masters .title {
  color: var(--color-purple);
}
.masters div img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  margin: 0 auto;
}

.services {
  color: var(--text-color);
  text-align: center;
}
.services__items {
  justify-content: space-around;
}
.services img {
  width: 300px;
  height: 200px;
  border: 3px solid var(--color-black);
}
.services p {
  padding: 20px;
}
.services .btn-link {
  margin-top: 50px;
}
.services .title {
  color: var(--color-purple);
}

.contacts {
  padding: 40px;
}
.contacts .container {
  justify-content: space-between;
}
.contacts .title {
  color: var(--color-purple);
}

.footer {
  color: var(--text-color);
  padding: 40px;
}
.footer__desc {
  max-width: 70%;
  padding-right: 20px;
}
.footer__social p {
  margin-bottom: 10px;
}

/* Burger menu */
.burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  right: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header.open .burger-btn span {
  background-color: var(--text-color);
}

@media (max-width: 1010px) {
  .burger-btn {
    display: block;
    z-index: 5;
  }
  .nav {
    position: absolute;
    width: 180px;
    left: -180px;
    top: 0;
    padding: 70px 40px 20px;
    transition: transform 0.5s;
    z-index: 2;
    background-color: var(--panel-bg-color);
    color: var(--text-color);
  }
  .nav ul {
    display: block;
  }
  .nav a {
    display: block;
    padding: 10px 0;
    color: var(--text-color);
  }
  .header.open .nav {
    transform: translateX(100%);
  }
  .main-page {
    text-align: center;
  }
  .company-desc {
    text-align: center;
  }
  .company-desc .container {
    flex-direction: column;
  }
  .masters__items {
    flex-direction: column;
    align-items: center;
  }
  .services__items {
    flex-direction: column;
  }
  .services__item {
    margin-bottom: 20px;
  }
  .contacts {
    text-align: center;
  }
  .contacts .container {
    flex-direction: column;
  }
  .contacts .maps {
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .main-page__main-title {
    font-size: 40px;
  }
  .company-desc__title-wrapper {
    margin-bottom: 15px;
    flex-direction: column;
  }
}
@media (max-width: 510px) {
  .padding-container {
    padding: 40px 5px;
  }
  .contacts {
    padding: 20px 0;
  }
}
@media (max-width: 415px) {
  .header .btn-block {
    display: flex;
  }
  .header .container {
    padding: 0;
  }
  .main-page__main-title {
    font-size: 30px;
  }
  .services .btn-link {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */